.bg-body-light-gray {
    background-color: #f7f9fc;
}

.black-text {
    color: black;
}

.shadow-sage-sm {
  box-shadow:  0 0.125rem 0.25rem var(--bs-sage) !important;
}

.email-graphic {
    height: 20px;
    width: 27px;
}

.github-logo {
    height: 20px;
    width: 22px;
    margin-right: 0.7rem;
}

.linkedin-logo {
    height: 20px;
    width: 22px;
    margin-right: 0.7rem;
}

.bg-body-sage {
    background-color: var(--bs-sage);
}

.white-text {
    color: white;
}

.text-shadow-gray {
    text-shadow: rgba(0, 0, 0, 0.15) 2px 2px;
}

.light-gray-divider {
    height: 1.5rem;
    background-color: #f7f9fc;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow:
        inset 0 0.5em 1.5em rgba(0, 0, 0, 0.15),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bg-body-white {
    background-color: white;
}

.btn-outline-sage {
    color: var(--bs-sage);
    border-color: var(--bs-sage);
}

.btn-outline-sage:hover {
    color: white;
    background-color: var(--bs-sage);
}

.rounded-corners {
    border-radius: 5px;
}

.white-footer {
    height: 3rem;
    background-color: white;
}

.btn-transparent {
    background-color: transparent;
    border: 0px;
    border-color: transparent;
}

.sage-close {
    color: var(--bs-sage);
}

.rounded-close {
    border-color: #f7f9fc solid;
    border-width: thin;
    background-color: transparent;
    border-radius: 5px;
}

.btn-sage-bg {
    background-color: var(--bs-sage);
    color: white;
}

.btn-sage-bg:hover {
    background-color: white;
    border-color: var(--bs-sage);
    color: var(--bs-sage);
}

.sage-text {
    color: var(--bs-sage);
}

.sage-top-border {
    border-top-color: var(--bs-sage);
    border-top-width: 0.5rem;
}

.width-25 {
    width: 25%;
}

.full-height {
    height: 100%;
}

.card-height {
    height: 300px;
}

.book-nook-logo {
    height: 350px;
    width: 90%
}

.navbar-vertical {
    position: fixed;
    display: inline-block;
    z-index: 1020;
    top: 4rem;
    padding: 0;
    width: 20rem;
    height: 100%;
    background-color: white;
}

.navbar-vertical-content {
    padding: 1rem 0;
    overflow: auto;
}

.navbar-vertical-label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .64rem;
    color: var(--bs-sage);
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    padding-left: 2rem;
}

.navbar-vertical-line {
    display: none;
}

.nav-item-wrapper {
    font-size: .8rem;
    font-weight: 600;
}

.dropdown-indicator {
    padding-left: .75rem;
}

.btn-transparent {
    background-color: transparent;
    color: black;
}

.btn-transparent:hover {
    color: var(--bs-sage);
}

.small-circle {
    width: 2px;
}

.fw-lt-medium {
    font-weight: 450;
}

.fs-sm {
    font-size: 0.9rem;
}

.navbar-header:hover {
    font-weight: 400;
}

.navbar-header:visited {
    font-weight: 400;
}

.accordion-header:hover {
    color: var(--bs-sage);
}

.logos {
    height: 50px;
    width: 50px;
}

input[type=text] {
    font-size: 1rem;
    font-weight: 300;
    border-radius: 5px;
}

label {
    font-size: 1.25rem;
    font-weight: 300;
    border-radius: 10px;
}

textarea {
    font-size: 1rem;
    font-weight: 300;
    border-radius: 10px;
    width: 75%;
}

.pdf {
    height: 100vh;
}