.projects-block {
  text-align: start;
  margin-left: 6.3rem;
}

.project-grid {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  row-gap: 2rem;
  justify-content: space-between;
}

.title-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 10px;
}

.project-type {
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.link-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.4rem;
  row-gap: 0.6rem;
  margin-bottom: 1rem;
}

.skills div {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  align-items: center;
  border: 1.5px solid var(--medium-charcoal-half) !important;
  padding: 2px 5px;
  border-radius: 7px;
  background-color: #40404040;
}

.skills p {
  margin-bottom: 0;
  font-size: 1rem;
}

.skills img {
  height: 1rem;
}