:root,
[data-bs-theme-dark]
{
  color-scheme: dark;
  --wisteria: #c8a3dc;
  --ivory-mist: #f8f5e7;
  --ivory-mist-75: #f8f5e775;
  --charcoal: #171718;
  --vintage-grape: #56495e;
  --shadow-grey: #3a333f;
  --shadow-grey-half: #3a333f55;
  --dark-charcoal: #171717;
}

[data-bs-theme-light]
{
  color-scheme: light;
  --wisteria: #c8a3dc;
  --ivory-mist: #f8f5e7;
  --ivory-mist-75: #f8f5e775;
  --charcoal: #171718;
  --vintage-grape: #56495e;
  --shadow-grey: #3a333f;
  --shadow-grey-half: #3a333f55;
  --dark-charcoal: #171717;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--charcoal);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}