:root,
[data-bs-theme-dark]
{
  color-scheme: dark;
  --wisteria: #C8A3DC;
  --cream: #F8F5E7;
  --light-charcoal: #404040;
  --charcoal: #171718;
}

[data-bs-theme-light]
{
  color-scheme: light;
  --wisteria: #C8A3DC;
  --cream: #F8F5E7;
  --light-charcoal: #404040;
  --charcoal: #171718;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--charcoal);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}